.core-ui{
    background-color: wheat;
    padding: 5px;
    margin: 10px;
    height: 250px;
    width: 250px;
    border-radius: 20px;
    transition: 0.5s;
}
.core-ui img{
    width: 200px;
}
.core-ui:hover{
    background-color: rgba(68, 24, 24, 0.651);
    color: white;
    text-shadow: gray 1px 1px 5px;
}
